tensorboard
scikit-learn
seqeval
psutil
sacrebleu
rouge-score
tensorflow_datasets
pytorch-lightning==0.8.1
matplotlib
git-python==1.0.3
faiss
streamlit
elasticsearch
pandas
nlp
spacy
transformers==4.18.0
torch==1.9.0
torchtext